body {background-image: url(favicon.jpg); background-color:#FFFFFF; background-repeat: no-repeat; font-family: sans-serif; word-spacing: .2ex; text-align: center}
h1 {margin-left: 20%; margin-right: 20%; color: #990066; font-family: serif; font-size: 40px}
h2 {margin-left: 20%; margin-right: 20%; color: #990066; font-family: serif; font-size: 32px}
h3 {margin-left: 20%; margin-right: 20%; color: #990066; font-size: 24px}
h4 {margin-left: 12%; margin-right: 12%; text-align: left}
h4 img {border: 0}
h6 {text-align: center}
p {margin-left: 12%; margin-right: 12%; margin-top: -.3em; text-align: left}
pre {margin-left: 12%; margin-right: 12%; word-spacing: 0ex; text-align: left}
ul {text-align: left; margin-left: 12%; margin-right: 15%; list-style-type: disc}
ul ul {text-align: left; margin-left: 0%; margin-right: 0%; list-style-type: none}
ol {text-align: left; margin-left: 15%; margin-right: 12%; list-style-type: none; text-indent: -3em}
dl {text-align: left; margin-left: 15%; margin-right: 12%; list-style-type: none}
dt {margin-top: .5em}
table {margin-left: auto; margin-right: auto; text-align: left; border-style: none; border-collapse: collapse}
table.st, table.su {font-size: 12px}
table.ps {font-size: smaller; margin-top: 1em}
table.index {font-family: sans-serif; font-size: 12px}
tr.ix td {background-color: transparent; font-family: "Georgia", serif; padding: 1px 2px; border: 0px #990066 solid; font-size: 150%}
tr.o {background-color: #FFFFFF; border-style: none; font-family: serif}
tr.e {background-color: #FFFFCC; border-style: none; font-family: serif}
tr.f {background-color: #CCFFCC; border-style: none; font-family: serif}
tr.g {background-color: #CCFFFF; border-style: none; font-family: serif}
tr.x {background-color: #CCCCCC; border-style: none; font-family: serif}
tr.hd {background-color: #FFFF00; font-family: sans-serif; font-weight: bold; text-align: center}
tr.ft {background-color: #FFFF00}
tr.cp {background-color: #CCCCCC; font-family: sans-serif; font-size: 12px}
table.co td {background-color: #FFCCCC; border-style: ridge; border-color:#FFFFFF border-width: 4px}
table.su tr.e {background-color: #FFCCFF}
table.su tr.f {background-color: #99CCFF}
table.su tr.g {background-color: #99FFFF}
table.su tr.hd {background-color: #CC99FF}
table.su tr.ft {background-color: #CC99FF}
table.index tr.hd {background-color: #666666; color: #FFFFFF; font-weight: bold; text-align: left}
table.index tr.o {font-family: sans-serif; background-color: #FFFFFF}
table.index tr.e {font-family: sans-serif; background-color: #CCCCCC}
tr ul {text-align: left; margin-left: 0%; margin-right: 0%; list-style-type: none}
td, th {padding: 1px 5px}
td.n {text-align: right}
a:link {color: #000099}
a:visited {color: #990099}
a:hover {background-color: #FFFF00}
strong {font-weight: bold}
em {font-style: italic}
code {font-family: monospace}
b.gr {background-color: #88FF88; font-family: serif; font-weight: normal}
b.pu {background-color: #CC99FF; font-family: sans-serif; font-weight: normal}
b.ye {background-color: #FFFF00; font-family: sans-serif; font-weight: normal}
