.dataBar-container{
  width: 100%;
  /* min-width: 300px; */
  /* box-sizing: border-box; */
}

.dataBar-container .dataBar-header,
.dataBar-container .dataBar-body,
.dataBar-container .dataBar-body-items,
.dataBar-container .dataBar-footer
{
  float: left;
}          

.dataBar-container > div {
  position:  relative;
  float: left;
}

.dataBar-container .dataBar-header{
  width: 100px;
  /* margin-right: -100px; */
  background: #ADD8E6
}

.dataBar-container .dataBar-body{
  /* margin: 0 100px; */
  /* margin-right: 0; */
  width: 200px;

  /* padding-left: 100px; */

  /* padding-right: 100px; */
}
.dataBar-container .dataBar-body-items{
  position: relative;
  
}

       
.dataBar-container .dataBar-body{
}


.dataBar-item {
}

.dataBar-container .dataBar-item-bar{
  /* height: 20px;  */
}
.dataBar-container.dataBar-horizontal .dataBar-item-bar{
  float: left;
}



.dataBar-container .dataBar-item-label
{
  visibility: hidden;
  float: right;
  padding-right: 5px;
}

.dataBar-container .dataBar-footer
{  
  position: relative;
  width: 0;
}
.dataBar-container .dataBar-footer-label
{
  position: absolute;
  background: #ADD8E6;
 
  /* visibility: hidden; */
} 
.dataBar-container .dataBar-footer-dimension{
  /* width: 20%; */
  /* width: 100px; */
  padding-left: 5px;
}
.dataBar-container .dataBar-footer-space{
  float: left;
  /* visibility: hidden; */
  background: gray;
  /* width: 100px; */
}
.dataBar-body{
/* padding-right: 100px; */
}

.container{
  width: 100% !important;
}

th.column1{
min-width: 400px;
}






.dataBar-body{
position: absolute;
left: 0;
right: 0;
}


.dataBar-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  
  font-weight: bold;
  text-align: center;
}

.dataBar-container > * {
  /* padding: 10px; */
  flex: 1 100%;
}

.dataBar-header {
  /* background: tomato; */
}

.dataBar-footer {
  /* background: lightgreen; */
}

.dataBar-header, 
.dataBar-footer-dimension { flex: 1 auto; }

.dataBar-body {
  text-align: left;
  /* background: deepskyblue; */
}



  .dataBar-body    { flex: 2 0px; }
  .dataBar-header{ order: 1; } 
  .dataBar-body    { order: 2; }
  .dataBar-footer-dimension { order: 3; }

.dataBar-footer-dimension{
display: none;
}

.dataBar-header{
width: 100px;
}