/* Generic settings */
.dataBar-container{
  width: 100%;
}

.dataBar-container .series0 .dataBar-item-bar { background-color: #F2737E; }
.dataBar-container .series1 .dataBar-item-bar { background-color: #F6A2AA; }
.dataBar-container .series2 .dataBar-item-bar { background-color: #F8A854; }
.dataBar-container .series3 .dataBar-item-bar { background-color: #FABE80; }
.dataBar-container .series4 .dataBar-item-bar { background-color: #6FD2AB; }
.dataBar-container .series5 .dataBar-item-bar { background-color: #9DE0C6; }



.dataBar-body-items{
  display: inline-block;
  float: left;
}

.dataBar-item{
}

.dataBar-item-header{
width: 0;
}

.dataBar-item-bar{
  float: left;
}    
.dataBar-horizontal .dataBar-item-bar{
}
.dataBar-vertical .dataBar-item-bar{
  clear: left;
}


.dataBar-item-label{
}
.dataBar-horizontal .dataBar-item-label
{
  /* visibility: hidden; */
  float: right;
  padding-right: 5px;
}
.dataBar-vertical .dataBar-item-label{
  /* float: right; */
}


/* FOOTERS
   Create two footers: 
    - one glued right after the items, 
    - another glued to the right margin, (reserve space)
*/
.dataBar-body-footer {
  float: left;
}
.dataBar-horizontal .dataBar-body-footer
{  
  position: relative;
  width: 0;
}
.dataBar-vertical .dataBar-body-footer
{  
  display:none;
}

.dataBar-horizontal .dataBar-footer-label
{
  position: absolute;
} 
.flexbox .dataBar-horizontal .dataBar-footer{
  /* flex-grow: 0; */
}
.dataBar-horizontal .dataBar-footer{
  visibility: hidden;
}





/* Improve header/footer spacing using CSS3 flexbox model */

.flexbox .dataBar-container{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
}
.flexbox .dataBar-horizontal {
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
.flexbox .dataBar-vertical {
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
}

.flexbox .dataBar-header, 
.flexbox .dataBar-footer {
  flex: 1 auto;
}
.flexbox .dataBar-body    { 
  flex: 1 0; 
}

.flexbox .dataBar-header { order: 1; } 
.flexbox .dataBar-body   { order: 2; }
.flexbox .dataBar-footer { order: 3; }
.flexbox .dataBar-header,
.flexbox .dataBar-footer
{
  flex-grow: 0; /* lock width of header and footer */
}

.no-flexbox .dataBar-horizontal .dataBar-header,
.no-flexbox .dataBar-horizontal .dataBar-body,
.no-flexbox .dataBar-horizontal .dataBar-footer{
 float: left;
}
.no-flexbox .dataBar-horizontal .dataBar-header{
}
.no-flexbox .dataBar-horizontal .dataBar-body{
  margin-right: -200px;
  min-width: 200px;
  width: 90%;
}
.no-flexbox .dataBar-horizontal .dataBar-footer{
  max-width: 100px;
  width: 10%;
}
.no-flexbox .dataBar-vertical .dataBar-footer {
  clear: left;
}




/* Custom stuff */



.dataBar-header,
.dataBar-footer,
.dataBar-footer-label{
  background: lightgreen;
}


/* ESRG */

.container{
  width: 100% !important;
}


th.column1{
  min-width: 200px;
}

.dataBar-header{
  display: none;
}

.dataBar-horizontal .dataBar-header{
  /* display: none; */
}

.dataBar-horizontal .dataBar-item-label{
  visibility: hidden;
}
.dataBar-horizontal .dataBar-footer-label{
  right: 0;
  background: transparent;
  color: gray;
  text-align:right;
  width: 20px; /* absurdly large width */
}

.dataBar-horizontal .dataBar-footer{
  /* display: none; */
  visibility: hidden;
}




.dataBar-vertical .dataBar-item-label{
  float: right;
}
.dataBar-vertical .dataBar-footer{
  /* display: none; */
}

.dataBar-body{
/* border: 1px solid blue; */
}

.dataBar-body-items{
  border: 1px solid purple;
}


.hover {
  border: 1px solid red;
}



.ui-dialog-content .dataBar-item{
clear: both;
}
.ui-dialog-content .dataBar-item-header{
  width: 100px;
  display: inline;
  float: left;

}
.ui-dialog-content .dataBar-body-footer{
display: none;
}

.dataBar-container .series0 .dataBar-item-header { background-color: #F2737E;  border-right: 1px solid white;}
.dataBar-container .series1 .dataBar-item-header { background-color: #F6A2AA;  border-right: 1px solid white;}
.dataBar-container .series2 .dataBar-item-header { background-color: #F8A854;  border-right: 1px solid white;}
.dataBar-container .series3 .dataBar-item-header { background-color: #FABE80;  border-right: 1px solid white;}
.dataBar-container .series4 .dataBar-item-header { background-color: #6FD2AB;  border-right: 1px solid white;}
.dataBar-container .series5 .dataBar-item-header { background-color: #9DE0C6;  border-right: 1px solid white;}