

.jvectormap-label
{
  color: #999999;
  font-size: 12px;
  background: transparent;
  border: none;
  padding: 1px;
  padding-left: 15px;
}



/* For triangles, see e.g. http://jsfiddle.net/UnsungHero97/MZXCj/688/ */
/* .jvectormap-label */
.map-tooltip
{
  position: relative;
  background:#ffffff;
  border:1px solid #fb9a3b;
  border-radius:0;
  display:inline-block;
  left: 50%;

}

/* .jvectormap-label:after, */
/* .jvectormap-label:before */
.map-tooltip:after,
.map-tooltip:before
{
  top:100%;
  left: 50%;
  border:solid transparent;
  content:" ";
  height:0;
  width:0;
  position:absolute;
  pointer-events:none;
}

/* .jvectormap-label:after */
.map-tooltip:after
{
  border-color: rgba(255, 255, 255, 0); 
  border-top-color: #ffffff;
  border-width: 9px;
  margin-left: -9px;
}
/* .jvectormap-label:before */
.map-tooltip:before
{
  border-color: rgba(251, 154, 59, 0); 
    border-top-color: #fb9a3b;
    border-width: 10px;
    margin-left: -10px;
}


/*
.map-tooltip-bullet {
    background: none repeat scroll 0 0 #FB9A3B;
    border: medium none;
    border-radius: 4px;
    float: left;
    height: 8px;
    right: -4px;
    margin-top: 2px;
    width: 8px;
    position: absolute;
    z-index: 2;
}
*/

.map-tooltip-label
{
  float: left;
  padding-right: 10px;
}



.map-tooltip-value
{
  font-weight: bold;
  float: left;
  padding-right: 10px;
}

.map-tooltip-value2 {
  color: #cccccc;
  float: left;
  padding-right: 10px;
}


/* Set color scale to occupy the whole width */

.jqvm-scale {
    width: 80%;
    left:10%;
}
.jqvm-scale .scale-item
{
  width: 10%;
  float: left;
}

.jqvm-scale .min-value {
    left: 0;
    right:auto;
    position: absolute;
}
.jqvm-scale .max-value {
    position: absolute;
    right: 0;
    left: auto;
}
