.jqvm-container {
  position: relative;
}
.jqvm-scale {
  position: absolute;
  top: 0px;
  /* left: 10px; */
}

.jqvm-scale .scale-item {
  width:18px;
  height:10px;
  margin: 1px;
  display:inline-block;
  float: left;
}
.jqvm-scale .min-value,
.jqvm-scale .max-value {
  display: inline-block;
  position:relative;
  top: 12px;
}
.jqvm-scale .min-value {
left: 3px;
/* top: 10px; */
}
.jqvm-scale .max-value {
left: -3px;
/* top: 10px; */
}

.jqvm-scale .unit {
  display:inline-block;
  position: absolute;
  top: -2px;
  right: -5px;
}

.jvectormap-zoomin, .jvectormap-zoomout {
    position: absolute;
    left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #292929;
    padding: 3px;
    color: white;
    width: 10px;
    height: 10px;
    cursor: pointer;
    line-height: 10px;
    text-align: center;
}

.jvectormap-zoomin {
    top: 10px;
}

.jvectormap-zoomout {
    top: 30px;
}


/* Customizations */

.jvectormap-zoomin, .jvectormap-zoomout
{
    display: none;
}

.jvectormap-container
{
    padding-top: 30px;
    padding-bottom: 10px;
}

.jqvm-scale .scale-item {
    border: 1px solid #E6E5E5;
    display: inline-block;
    height: 14px;
    margin: -1px;
    width: 38px;
}

.jvectormap-label
{
    color: #d3d3d3;
}


