.map-scale-container{
  position: absolute;
  top: 0;
  left: 0;
}
.map-scale-container{
  /* border: 1px dashed red; */
  padding: 10px;
}


.map-scale-header{
}

.map-scale-body{
  position: relative;
}

.map-scale-item{
  clear: both;
  padding: 10px 0;
}
.map-scale-item-icon{ /* positioning*/
  float: left;
}

.map-scale-item-icon{ /* triangle */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 20px 10px;
}
.map-scale-item-icon.cat0 {
  border-color: transparent transparent #F2737E transparent;
}
.map-scale-item-icon.cat1 {
  border-color: transparent transparent #F6A2AA transparent;
}
.map-scale-item-icon.cat2 {
  border-color: transparent transparent #F8A854 transparent;
}
.map-scale-item-icon.cat3 {
  border-color: transparent transparent #FABE80 transparent;
}
.map-scale-item-icon.cat4 {
  border-color: transparent transparent #6FD2AB transparent;
}
.map-scale-item-icon.cat5 {
  border-color: transparent transparent #9DE0C6 transparent;
}


.map-scale-item-label{
  float: right;
  padding-left: 10px;
}
.map-scale-item-label.cat0 {
  /* color: #ff0000; */
}
.map-scale-item-label.cat1 {
  /* color: #ff00ff; */
}
.map-scale-item-label.cat2 {
  /* color: #ffff00; */
}

.map-scale-footer{
}